doctype 5
html(lang='en')
  head
    meta(charset='UTF-8')
    title Create User
    style(type='text/css').
        .container {
            display: inline-block;
        }
        .submit {
            float: right;
        }
        label {
            display: block;
            text-align: right;
        }
        .validation {
            color: red;
        }

    body
        .container
            form(action='/newUserEdit' method='post')
                table
                    tr
                        td
                            label(for='password1') Please choose a new password: 
                        td
                            input#password1(type='password' autocomplete="new-password" autofocus placeholder='Password' name='password1')
                    tr
                        td
                            label(for='password2') Please retype your password: 
                        td
                            input#password2(type='password' autocomplete="new-password" placeholder='Password' name='password2')
                        td
                            #passwordError
                                if passwordError
                                    .validation #{passwordError}
                    tr
                        td
                            label(for='displayName') Please chooose a display name: 
                        td
                            input#displayName(type='text' placeholder='Display Name' name='displayName')
                        td
                            #displayNameError
                                if displayNameError
                                    .validation #{displayNameError}
                    tr
                        td
                        td
                            input.submit(type='submit' value='Submit')