$tools-default-color: #e3d5f1;
$tools-highlight-color: #fa09cf;
$navbar-color: #ab47a7;
$message-area-bg-color: rgba(255, 255, 255, 0.6);
$sender-message-color: rgb(255, 248, 220);
$own-message-color: rgb(255, 192, 203);
$adult-message-color: rgb(255, 255, 255);
$standard-padding: 10px;
$br: 5px;

body {
    margin: 0;
}

#root {
    font-family: 'Source Sans Pro', sans-serif;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background: url('./images/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.app-area {
    height: 100%;
    padding-top: 66px;
}

.online-component {
    float: left;
    background: $navbar-color;
    margin-right: 50px;
    height: 100%;
    position: fixed;
    ul {
        transition: width 05s ease;
        padding: 0;
        margin: 0;
        list-style: none;

        li {
            background-color: $message-area-bg-color;
            border-radius: $br;
            padding: 4px 8px;
            display: inline-block;
            font-size: 20px;
            margin-bottom: 5px;
        }
        li::before {
            content: '• ';
            color: green;
            font-size: 20px;
            line-height: 0;
        }
    }
    .arrow {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 30px;
        color: $tools-default-color;
        cursor: pointer;
    }

    .arrow:hover {
        color: $tools-highlight-color;
    }
}

.open {
    width: 125px;
    padding: 16px 8px 16px 8px;
}

.closed {
    width: 25px;
}

.session-bar-component {
    position: fixed;
    right: 0;
    left: 0;
    background: $navbar-color;
    padding: 16px;
    display: flex;
    justify-content: flex-end;
    .display-name {
        display: inline;
        margin: 0 12px 0 0;
        font-size: 23px;
        color: $tools-default-color;
    }

    .logout > svg {
        font-size: 30px;
        color: $tools-default-color;
    }

    .logout > svg:hover {
        color: $tools-highlight-color;
    }
}

.chat-area-wrapper {
    height: 100%;
    width: 100%;
}

.chat-area {
    margin-left: 25px;
    height: 95%;
    border-radius: $br;
    box-shadow: 3px 3px 5px #777;
    flex: 2 1 0;
    display: flex;
    flex-direction: column;
}

.conversation-component,
.msg-input-component {
    background-color: $message-area-bg-color;
}

.conversation-component {
    border-radius: $br $br 0 0;
    width: 100%;
    display: flex;
    flex: 5;
    flex-direction: column;
    align-items: flex-start;
    overflow-x: hidden;
    overflow-y: auto;

    .message {
        border: 1px solid #aaa;
        width: 50%;
        padding: $standard-padding;
        margin: 10px 10px;
        overflow-wrap: break-word;
    }
}

.msg-input-component {
    border-radius: 0 0 $br $br;
    flex: 1 1;
    padding: 0;

    textarea {
        font-size: 16px;
        font-family: 'Source Sans Pro', sans-serif;
        padding: 15px;
        background-color: rgba(100, 100, 100, 0.1);
        resize: none;
        margin: auto;
        vertical-align: text-top;
        height: calc(100% - 30px);
        width: calc(100% - 30px);
        border: none;
    }
    textarea:focus {
        outline: none;
    }
}

.sender-msg,
.adult-msg {
    align-self: flex-start;
    border-radius: 0 $br $br $br;
}

.sender-msg {
    background-color: $sender-message-color;
}

.own-msg,
.own-adult-msg {
    align-self: flex-end;
    border-radius: $br 0 $br $br;
}

.own-msg {
    background-color: $own-message-color;
}

.adult-msg,
.own-adult-msg {
    background-color: $adult-message-color;
}

@media (min-width: 950px) {
    .app-area {
        padding: 0 32px 32px 0;
    }

    .chat-area-wrapper {
        padding-top: 32px;
    }

    .chat-area {
        margin: auto;
        height: 85%;
        max-width: 900px;
    }

    .online-component.open {
        padding: 32px 16px 32px 16px;
        position: relative;
    }
}
